:root{
    --primary:#ff002b;
    --secondary:blue;
    --dark:rgb(24, 24, 58);
    --ligth:#eeee;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: var(--ligth);
}
.App{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 18px;
}
.calculator{
    width: 100%;
    max-width: 500px;
    background-color: aliceblue;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 2px 64px rgba(0, 0, 0, 0);
}
.display{
    padding: 15px;
    text-align: right;
    background-color: var(--dark);
    color: var(--ligth);
    font-size: large;
    font-weight: 300;
    font-style: bold;
}
.display span{
    font-size: 14px;
    color: lightblue;
}
button{
    font-size: 25px ;
    color: lightgray;
    appearance: none;
    border: none;
    outline: none;
    padding: 16px;
    cursor: pointer;
    transition: .4s;

}
button:hover{
    opacity: 0.8;
}
.operators{
    display: flex;
}
.operators button{
    flex: 1 1 0%;
    background-color: var(--primary);
    font-weight: 700;

}
.digits{
    display: flex;
    flex-wrap: wrap;
}
.digits button{
    flex: 1 1 33.33333%;
    max-width: 33.3333333%;
    background-color: var(--dark);
}